body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: sans-serif;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  height: 100vh;
  width: 900px;
}

.container-1 ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.container-1 ul li {
  list-style: none;
  color: white;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 10px;
  transition: 2s;
}

.container-1 ul:hover li {
  transform: rotate(45deg) translateY(-200px);
  opacity: 0;
  filter: blur(20px);
}

.container-1 ul li:nth-child(1) {
  transition-delay: 0;
}

.container-1 ul li:nth-child(2) {
  transition-delay: 0.4s;
}

.container-1 ul li:nth-child(3) {
  transition-delay: 0.8s;
}

.container-1 ul li:nth-child(4) {
  transition-delay: 1.2s;
}

.container-1 ul li:nth-child(5) {
  transition-delay: 1.6s;
}

.container-2 h1 {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120px;
  color: #ccc;
  text-transform: uppercase;
  position: relative;
}

.container-2 h1::before {
  content: "text";
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  width: 0%;
  overflow: hidden;
  transition: all 0.5s;
}

.container-2 h1:hover::before {
  width: 100%;
}

.container-3 {
  display: flex;
  text-align: center;
  background-color: white;
}

.container-3 .icon {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  color: #10ac84;
  overflow: hidden;
  box-shadow: 0 5px 15px -5px #00000070;
}

.container-3 .icon i {
  line-height: 90px;
  font-size: 25px;
  transition: all 0.2s;
}

.container-3 .icon:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.container-3 .icon::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 120px;
  background-color: #10ac84;
  top: 90%;
  left: -110%;
  transform: rotate(45deg);
}

.container-3 .icon:hover::before {
  animation: animation 1s 1 forwards;
}

@keyframes animation {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 15%;
    top: -30%;
  }

  100% {
    left: -10%;
    top: 20%;
  }
}

.container-4 .box {
  position: relative;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background-color: yellow;
}

.container-4 .box h1 {
  margin: 0;
  padding: 0;
  color: #272727;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.container-4 .box h1 span {
  color: #10ac84;
  font-size: 30px;
}

.container-4 .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid #10ac84;
  border-bottom: 4px solid #10ac84;
  box-sizing: border-box;
  transition: all 0.5s;
  transform: scaleX(0);
}

.container-4 .box:hover::before {
  transform: scaleX(1);
}

.container-4 .box::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid #10ac84;
  border-right: 4px solid #10ac84;
  box-sizing: border-box;
  transition: all 0.5s;
  transform: scaleY(0);
}

.container-4 .box:hover::after {
  transform: scaleY(1);
}

.rotated {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: yellow;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.rotated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid #10ac84;
  border-bottom: 4px solid #10ac84;
  box-sizing: border-box;
  transition: all 0.5s;
  transform: scaleX(0);
}

.container-4 .box:hover .rotated::before {
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.rotated::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid #10ac84;
  border-right: 4px solid #10ac84;
  box-sizing: border-box;
  transition: all 0.5s;
  transform: scaleY(0);
}

.container-4 .box:hover .rotated::after {
  transform: scaleY(1);
  transition-delay: 1s;
}

@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

.container-5 {
  font-family: "Just Another Hand";
  overflow: hidden;
  background: #9b59b6;
  font-size: 10em;
  display: flex;
  color: #fff;
  cursor: pointer;
}

.container-5 ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.container-5 ul li {
  list-style: none;
  transition: all .5s;
}

.container-5 ul:hover li {
  transform: rotate(180deg);
}

.container-5 ul:hover li:last-child {
  transition-delay: 0.5s;
}

.container-5 ul li span {
  transition: 0.5s;
  display: inline-block;
}

.container-5 ul:hover li:last-child span:nth-child(2) {
  transform: rotate(180deg) translateY(-27px);
  transition-delay: 1s;
}
.container-5 ul:hover li:last-child span:nth-child(1) {
  transform: rotate(90deg);
  transition-delay: 1.5s;
}

.container-section-6 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-section-6 img {
  position: absolute;
  width: 130%;
  height: 140%;
  top: -20%;
  left: -20%;
  filter: blur(10px);
  transition: all 2s;
  object-fit: cover;
}

.container-section-6 h2 {
  position: relative;
  color: white;
  font-size: 10em;
  text-shadow: 0 5px 25px rgba(0,0,0,.2);
  font-weight: 800;
  z-index: 2;
  transition: 2s;
}

.container-section-6 h2:hover {
  filter: blur(10px);
  transform: scale(1.11);
}

.container-section-6 h2:hover + img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(0);
}

.container-7 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #0082ce, #ffd000);
}

.container-7 h2 {
  position: relative;
  display: flex;
  gap: 15px;
  color: white;
  font-size: 4em;
  cursor: pointer;
}

.container-7 h2 span {
  position: relative;
}

.container-7 h2 span i::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: white;
  top: 0;
  left: -5px;
  box-shadow: 0 53px #fff, 37px 53px #fff, 36px 0 #fff;
  opacity: 0;
}

.container-7 h2 span i:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: white;
  top: 0;
  left: -5px;
  box-shadow: 0 60px #fff, 30px 60px #fff, 30px 0px #fff;
  opacity: 0;
}

