body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  height: 100vh;
  width: 900px;
}

.container-1 ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.container-1 ul li {
  list-style: none;
  color: white;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 10px;
  transition: 2s;
}

.container-1 ul:hover li {
  transform: rotate(45deg) translateY(-200px);
  opacity: 0;
}



