body {
  background-color: #26ed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container-1 img {
  width: 270px;
  height: 270px;
}

.container-1 .img-1 {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.container-1 .img-2 {
  clip-path: circle(50% at 50% 50%);
}

.container-1 .img-3 {
  clip-path: polygon(
    50% 0,
    60% 30%,
    100% 30%,
    65% 55%,
    80% 95%,
    50% 75%,
    20% 95%,
    35% 55%,
    0 30%,
    40% 30%
  );
}

.container-1 .img-4 {
  clip-path: polygon(20% 0, 90% 40%, 100% 100%, 0 100%);
}

.container-1 .img-5 {
  clip-path: polygon(50% 9%, 90% 40%, 100% 100%, 20% 46%);
}
