body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-1 {
  background-color: #26ed;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container-1 img {
  width: 270px;
  height: 270px;
}

.container-1 .img-1 {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.container-1 .img-2 {
  clip-path: circle(50% at 50% 50%);
}

.container-1 .img-3 {
  clip-path: polygon(
    50% 0,
    60% 30%,
    100% 30%,
    65% 55%,
    80% 95%,
    50% 75%,
    20% 95%,
    35% 55%,
    0 30%,
    40% 30%
  );
}

.container-1 .img-4 {
  clip-path: polygon(20% 0, 90% 40%, 100% 100%, 0 100%);
}

.container-1 .img-5 {
  clip-path: polygon(50% 9%, 90% 40%, 100% 100%, 20% 46%);
}

.container-1 .img-6 {
  clip-path: polygon(66% 38%, 79% 61%, 79% 61%, 43% 39%, 16% 83%);
}

.container-2 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-2 .loader {
  width: 300px;
  height: 60px;
  border: 7px solid #0a3d62;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  position: relative;
}
