body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card-1 {
  position: relative;
  width: 320px;
  padding: 40px;
  background-color: white;
}