body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
}

.container-1 .div1 {
  width: 150px;
  height: 150px;
  background-color: red;
}

.container-1 .div1:hover {
  animation: moving 2s;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(1000px);
  }
}

.container-2 .div2 {
  width: 150px;
  height: 150px;
  background-color: blue;
  animation: movingsteps 3s forwards;
}

@keyframes movingsteps {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1000px);
  }

  100% {
    transform: translate(1000px, 1px);
  }
}

.container-3 .div3 {
  width: 150px;
  height: 150px;
  background-color: green;
  animation: movingsteps 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes movingsteps {
  0% {
    transform: translateX(500px);
  }

  50% {
    transform: translateX(1000px);
  }

  100% {
    transform: translate(1000px, -500px);
  }
}
