body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-1 .div1 {
  width: 150px;
  height: 150px;
  background-color: red;
}

.container-1 .div1:hover {
  animation: moving 1s;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(1000px);
  }
}