body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-1 div {
  width: 150px;
  height: 150px;
  background-color: red;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
}